<div class="ipad_frame">
  <div class="top_container">
  </div>
	
  <div class="navigation">
	<%= render 'shared/navigation' %>
  </div>
	
  <div class="bottom_container">
	<%= render 'shared/bottom_container' %>
  </div>
</div>