  <div class="gradient clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="u990"><!-- group -->
     <div class="clearfix grpelem" id="u564-4"><!-- content -->
      <p>YP ICI &#45; Incubation, Consulting, Investor Relations</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1085"><!-- group -->
     <div class="grpelem" id="u1085"><!-- image -->
      <%= image_tag("fotolia_32560301_xs.jpg", :size => "424x283", :alt => "") %>
     </div>
     <div class="clearfix grpelem" id="u565-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="TabbedPanelsWidget gradient clearfix colelem" id="tab-panelu774"><!-- column -->
     <div class="TabbedPanelsTabGroup clearfix colelem" id="u807"><!-- horizontal box -->
      <div class="TabbedPanelsTab clearfix grpelem" id="u812"><!-- horizontal box -->
       <div class=" NoWrap clearfix grpelem" id="u813-4"><!-- content -->
        <p>Welcome</p>
       </div>
      </div>
      <div class="TabbedPanelsTab clearfix grpelem" id="u820"><!-- horizontal box -->
       <div class=" NoWrap clearfix grpelem" id="u822-4"><!-- content -->
        <p>Team</p>
       </div>
      </div>
      <div class="TabbedPanelsTab clearfix grpelem" id="u1035"><!-- horizontal box -->
       <div class=" NoWrap clearfix grpelem" id="u1036-4"><!-- content -->
        <p>Partner</p>
       </div>
      </div>
      <div class="TabbedPanelsTab clearfix grpelem" id="u808"><!-- horizontal box -->
       <div class=" NoWrap clearfix grpelem" id="u809-4"><!-- content -->
        <p>Kontakt</p>
       </div>
      </div>
     </div>
    </div>
    
    <div class="TabbedPanelsContentGroup clearfix colelem" id="u793"><!-- stack box -->
         <%= render 'shared/welcome' %>
    </div>
    
    <div class="verticalspacer"></div>
    <div class="clearfix colelem" id="u1100-3"><!-- content -->
     <p>&nbsp;</p>
    </div>
   </div>
  </div>
   <!-- 
  <div class="preload_images">
   <img class="preload" src="images/u965-17-r.png" alt=""/>
   <img class="preload" src="images/u965-17-m.png" alt=""/>
   <img class="preload" src="images/u965-17-fs.png" alt=""/>
  </div>
   JS includes
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?4076886207" type="text/javascript"></script>
  <script src="scripts/webpro.js?4027400531" type="text/javascript"></script>
  <script src="scripts/musewpdisclosure.js?232868963" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?4068933136" type="text/javascript"></script>
   Other scripts
  <script type="text/javascript">
   Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblemsPreInit);/* body */
Muse.Utils.addSelectorFn('body', Muse.Utils.prepHyperlinks); /* body */
Muse.Utils.addSelectorFn('#widgetu954', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu954 */
Muse.Utils.addSelectorFn('#tab-panelu774', function(elem) { return new WebPro.Widget.TabbedPanels(elem, {event:'click',defaultIndex:2}); });/* #tab-panelu774 */
Muse.Utils.addSelectorFn('body', function() { Muse.Utils.fullPage('#page'); }); /* 100% height page */
Muse.Utils.addSelectorFn('body', Muse.Utils.showWidgetsWhenReady);/* body */
Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblems);/* body */

</script>-->
