<span>
  <%= link_to "Team", {:controller => "static_pages", :action => "home", :value => "team"} %>
</span>
<span>
  <%= link_to "Services", {:controller => "static_pages", :action => "home", :value => "services"} %>
</span>
<span>
  <%= link_to "References", {:controller => "static_pages", :action => "home", :value => "references" } %>
</span>
<span>
  <%= link_to "Contact", {:controller => "static_pages", :action => "home", :value => "contact" } %>
</span>