	  <div class="TabbedPanelsContent gradient clearfix grpelem" id="u1039"><!-- column -->
       <div class="clearfix colelem" id="pu1095-4"><!-- group -->
        <div class="clearfix grpelem" id="u1095-4"><!-- content -->
         <p>Die Young Professionals arbeiten eng mit der baden&#45;württembergischen Steinbeis &#45;Stiftung zusammen, so dass StartUps von einer starken Partnerschaft profitieren können.</p>
        </div>
        <div class="grpelem" id="u1090"><!-- image -->
         <img class="block" id="u1090_img" src="images/bild3.jpg" alt="" width="134" height="31"/>
        </div>
       </div>
       <div class="clearfix colelem" id="pu1097-24"><!-- group -->
        <div class="clearfix grpelem" id="u1097-24"><!-- content -->
         <p id="u1097-2">Das optimale Programm für eine erfolgreiche Gründung:</p>
         <p id="u1097-3">&nbsp;</p>
         <p id="u1097-5">Umfangreiche Gründungsberatung durch YP </p>
         <p id="u1097-6">&nbsp;</p>
         <p id="u1097-8">Unterstützung bei der Suche nach Kapitalgebern </p>
         <p id="u1097-9">&nbsp;</p>
         <p id="u1097-15">Unterstützung bei der Bewerbung um <a class="nonblock" href="https://www.innovationsgutscheine.de/" target="_blank"><span id="u1097-11">Innovationsgutscheine</span><span id="u1097-12">&nbsp;</span></a>des Landes Baden&#45;Württemberg für Hightech&#45;Gründer </p>
         <p id="u1097-16">&nbsp;</p>
         <p id="u1097-22"><span id="u1097-17">Möglichkeit der Rückerstattung der Beratungskosten für eine Vorgründungsberatung bis 5.000€ aus Mitteln des </span><a class="nonblock" href="http://www.stw-beratung.de/kompetenzen/steinbeis-exi-gutschein.html" target="_blank"><span id="u1097-18">ESF&#45;Förderprogramms EXI</span><span id="u1097-19">&nbsp;</span></a><span id="u1097-21">(20% Selbstbeteiligung)</span></p>
        </div>
        <div class="clearfix grpelem" id="u1098-14"><!-- content -->
         <p><span id="u1098">&#45;</span></p>
         <p>&nbsp;</p>
         <p><span id="u1098-4">&#45;</span></p>
         <p>&nbsp;</p>
         <p><span id="u1098-7">&#45;</span></p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p><span id="u1098-11">&#45;</span></p>
        </div>
       </div>
      </div>