<section id="page-partner">              
    <p>
        Die Young Professionals arbeiten eng mit der baden-württembergischen Steinbeis -Stiftung zusammen, so dass StartUps von einer starken Partnerschaft profitieren können.                
    </p>
    <%= image_tag("bild3.jpg", :alt => "", :class => "polaroid") %>
    <h2>Das optimale Programm für eine erfolgreiche Gründung:</h2>
    <ul>
        <li>Umfangreiche Gründungsberatung durch YP</li>
        <li>Unterstützung bei der Suche nach Kapitalgebern</li>
        <li>Unterstützung bei der Bewerbung um Innovationsgutscheine des Landes Baden-Württemberg für Hightech-Gründer</li>
        <li>Möglichkeit der Rückerstattung der Beratungskosten für eine Vorgründungsberatung bis 5.000€ aus Mitteln des ESF-Förderprogramms EXI (20% Selbstbeteiligung)</li>
    </ul>               
</section>