      <div class="TabbedPanelsContent gradient clearfix grpelem" id="u802"><!-- column -->
       
       <div class="clearfix colelem" id="pu1003"><!-- group -->
        <div class="grpelem" id="u1003"><!-- image -->
         <%= image_tag("bild1-u1003.jpg", :size => "112x121", :alt => "") %>
        </div>
        <div class="clearfix grpelem" id="u1013-9"><!-- content -->
         <p id="u1013-2">Gero Gode ist CEO des Rabattportals biodeals.de</p>
         <p id="u1013-3">&nbsp;</p>
         <p id="u1013-5">Zuvor führte er das StartUp Teambon erfolgreich zum Exit an DailyDeal (heute Google) und war anschließend ein halbes Jahr lang dessen CMO.</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
        </div>
       </div>

       <div class="clearfix colelem" id="pu1014-5"><!-- group -->
        <div class="clearfix grpelem" id="u1014-5"><!-- content -->
         <p id="u1014-2">Julius Knoche ist Founding Partner des Technologie&#45;Inkubators stealth.vc sowie Aufsichtsrat der Erecon AG welche im Bereich der Verbesserung der Energieeffizienz von Rechenzentren tätig ist.</p>
         <p>&nbsp;</p>
        </div>
        <div class="grpelem" id="u1008"><!-- image -->
         <%= image_tag("bild2-u1008.jpg", :size => "100x140", :alt => "") %> 
        </div>
       </div>

      </div>