$(document).ready(function() {
	$('#u813-4').click(function() {
		alert("Hello World");
		$(".content_container").html(			<div class="TabbedPanelsContentGroup clearfix colelem" id="u793"><!-- stack box -->
      <div class="TabbedPanelsContent gradient clearfix grpelem" id="u794"><!-- group -->
       <div class="clearfix grpelem" id="u996-11"><!-- content -->
        <p id="u996-2">Bestehend aus den Young Professionals welche zuvor bereits StartUps und junge Unternehmen betreut oder auch selbst gegründet und erfolgreich verkauft haben, hat ICI die Zielsetzung, Gründern und jungen Unternehmern bei Kapitalbeschaffungen zu helfen.</p>
        <p id="u996-3">&nbsp;</p>
        <p id="u996-5">Angebotene Leistungen sind beispielsweise:</p>
        <p id="u996-6">&nbsp;</p>
        <p id="u996-7">&nbsp;</p>
        <p id="u996-8">&nbsp;</p>
        <p>&nbsp;</p>
       </div>
       <div class="clearfix grpelem" id="u1000-20"><!-- content -->
        <p id="u1000-2">Staatlich geförderte Vorgründungsberatung (Mediation des Vorhabens, Marktanalysen…)</p>
        <p id="u1000-3">&nbsp;</p>
        <p id="u1000-5">Korrekturlesung und Aufarbeitung von Business&#45;Plänen</p>
        <p id="u1000-6">&nbsp;</p>
        <p id="u1000-8">Ausarbeitung von Investorenpitches und </p>
        <p id="u1000-10">entsprechender Unterlagen</p>
        <p id="u1000-11">&nbsp;</p>
        <p id="u1000-13">Durchführung von Due Dilligences</p>
        <p id="u1000-14">&nbsp;</p>
        <p id="u1000-16">Bewerbung des Vorhabens gegenüber Kapitalgebern aus unseren eigenen Netzwerken</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
       </div>
       <div class="clearfix grpelem" id="u1002-16"><!-- content -->
        <p>&#45;</p>
        <p>&nbsp;</p>
        <p>&#45;</p>
        <p>&nbsp;</p>
        <p>&#45;</p>
        <p>&nbsp;</p>
        <p>&#45;</p>
        <p>&nbsp;</p>
        <p>&#45;</p>
       </div>
      </div>
     </div>
		)
	});
});