@import "bootstrap";

html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 500px;
	min-height: 730.9414544423039px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(58%, #D4E4E9),to(#176789));
	background: -webkit-linear-gradient(top,#D4E4E9 58%,#176789 );
	background: -moz-linear-gradient(top,#D4E4E9 58%,#176789 );
	background: -ms-linear-gradient(top,#D4E4E9 58%,#176789 );
	background: -o-linear-gradient(top,#D4E4E9 58%,#176789 );
	background: linear-gradient(to bottom,#D4E4E9 58%,#176789 );
	-pie-background: linear-gradient(top,#D4E4E9 58%,#176789 );
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	height: 100%;
	margin-top: 20px;
	margin-bottom: -576px;
}

#u990
{
	z-index: 5;
	width: 460px;
	margin-left: 20px;
}

#u564-4
{
	z-index: 202;
	width: 401px;
	min-height: 27px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 29px;
}

#pu1085
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 11px;
	position: relative;
}

#u1085
{
	z-index: 197;
	width: 424px;
	position: relative;
	margin-right: -10000px;
}

#u565-3
{
	z-index: 2;
	width: 7px;
	min-height: 5px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 562px;
}

#tab-panelu774
{
	z-index: 6;
	width: 461px;
	background: -webkit-gradient(linear, left center, right center, color-stop(38%, #D4E4E9),to(#548FA8));
	background: -webkit-linear-gradient(left,#D4E4E9 38%,#548FA8 );
	background: -moz-linear-gradient(left,#D4E4E9 38%,#548FA8 );
	background: -ms-linear-gradient(left,#D4E4E9 38%,#548FA8 );
	background: -o-linear-gradient(left,#D4E4E9 38%,#548FA8 );
	background: linear-gradient(to right,#D4E4E9 38%,#548FA8 );
	-pie-background: linear-gradient(left,#D4E4E9 38%,#548FA8 );
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u807
{
	z-index: 7;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: #7392B3;
	position: relative;
}

#u812
{
	z-index: 8;
	width: 115px;
	min-height: 21px;
	border-style: solid;
	border-color: #7392B3;
	background-color: #7392B3;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u812:hover
{
	border-style: solid;
	background-color: #1B5594;
	width: 115px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u812:active
{
	border-style: solid;
	background-color: #1B5594;
	width: 115px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u813-4
{
	z-index: 9;
	width: 115px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u812:hover #u813-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u812:active #u813-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u812:active #u813-4 p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u820
{
	z-index: 13;
	width: 115px;
	min-height: 21px;
	border-style: solid;
	border-color: #7392B3;
	background-color: #7392B3;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
	border-width: 1px 0px 1px 1px;
}

#u820:hover
{
	border-style: solid;
	background-color: #1B5594;
	width: 115px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u812.TabbedPanelsTabSelected,#u820.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #013974;
	width: 115px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u822-4
{
	z-index: 14;
	width: 115px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u820:hover #u822-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u820:active #u822-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u820:active #u822-4 p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u812.TabbedPanelsTabSelected #u813-4 p,#u820.TabbedPanelsTabSelected #u822-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1035
{
	z-index: 18;
	width: 114px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #7392B3;
	background-color: #7392B3;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1035:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #1B5594;
	width: 114px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1036-4
{
	z-index: 19;
	width: 114px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1035:hover #u1036-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1035:active #u1036-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1035:active #u1036-4 p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u808
{
	z-index: 23;
	width: 114px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #7392B3;
	background-color: #7392B3;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u808:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #1B5594;
	width: 114px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1035.TabbedPanelsTabSelected,#u808.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #013974;
	width: 114px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u809-4
{
	z-index: 24;
	width: 114px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u808:hover #u809-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u808:active #u809-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u812.TabbedPanelsTabSelected #u813-4,#u820.TabbedPanelsTabSelected #u822-4,#u1035.TabbedPanelsTabSelected #u1036-4,#u808.TabbedPanelsTabSelected #u809-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u808:active #u809-4 p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1035.TabbedPanelsTabSelected #u1036-4 p,#u808.TabbedPanelsTabSelected #u809-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u793
{
	z-index: 28;
	width: 461px;
	position: relative;
	
}

#u794
{
	z-index: 29;
	width: 461px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #D4E4E9),to(#83C1DB));
	background: -webkit-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -moz-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -ms-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -o-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: linear-gradient(to bottom,#D4E4E9 46%,#83C1DB );
	-pie-background: linear-gradient(top,#D4E4E9 46%,#83C1DB );
	border-style: none;
	border-color: transparent;
	padding-bottom: 47px;
	margin-right: -10000px;
	position: relative;
	margin-left: 20px;
	margin-top: 40px;
}

#u996-11
{
	z-index: 30;
	width: 408px;
	min-height: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 26px;
}

#u996-2
{
	font-size: 12px;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u996-3
{
	text-align: justify;
	line-height: 1.21;
}

#u996-5,#u996-6,#u996-7
{
	font-size: 12px;
	text-align: justify;
}

#u996-8
{
	text-align: justify;
}

#u1000-20
{
	z-index: 41;
	width: 336px;
	min-height: 181px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 106px;
}

#u1000-2,#u1000-3,#u1000-5,#u1000-6,#u1000-8,#u1000-10,#u1000-11,#u1000-13,#u1000-14,#u1000-16
{
	font-size: 12px;
	line-height: 1.11;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1002-16
{
	z-index: 61;
	width: 55px;
	min-height: 166px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 92px;
}

#u802
{
	z-index: 77;
	width: 434px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #D4E4E9),to(#83C1DB));
	background: -webkit-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -moz-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -ms-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -o-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: linear-gradient(to bottom,#D4E4E9 46%,#83C1DB );
	-pie-background: linear-gradient(top,#D4E4E9 46%,#83C1DB );
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 12px 19px 53px 8px;
	margin-left: 20px;
	margin-top: 40px;
}

#pu1003
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u1003
{
	z-index: 78;
	width: 112px;
	position: relative;
	margin-right: -10000px;
}

#u1013-9
{
	z-index: 82;
	width: 296px;
	min-height: 84px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 137px;
}

#u1013-2,#u1013-3
{
	font-size: 13px;
	text-align: justify;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u1013-5
{
	font-size: 13px;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#pu1014-5
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 25px;
	position: relative;
}

#u1014-5
{
	z-index: 91;
	width: 320px;
	min-height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u1014-2
{
	font-size: 13px;
	text-align: justify;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1008
{
	z-index: 80;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u1039
{
	z-index: 96;
	width: 445px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #D4E4E9),to(#83C1DB));
	background: -webkit-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -moz-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -ms-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -o-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: linear-gradient(to bottom,#D4E4E9 46%,#83C1DB );
	-pie-background: linear-gradient(top,#D4E4E9 46%,#83C1DB );
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 14px 7px 55px 9px;
	margin-left: 20px;
	margin-top: 40px;
}

#pu1095-4
{
	width: 0.01px;
	position: relative;
}

#u1095-4
{
	z-index: 99;
	width: 405px;
	min-height: 78px;
	text-align: left;
	font-size: 13px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1090
{
	z-index: 97;
	width: 134px;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#pu1097-24
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 9px;
	position: relative;
}

#u1097-24
{
	z-index: 103;
	width: 383px;
	min-height: 199px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1097-3,#u1097-5,#u1097-6,#u1097-8,#u1097-9,#u1097-15
{
	font-size: 12px;
	padding-left: 32px;
}

#u1097-11,#u1097-12
{
	text-decoration: none;
}

#u1097-16,#u1097-22
{
	font-size: 13px;
	padding-left: 32px;
}

#u1097-18,#u1097-19
{
	font-size: 12px;
	text-decoration: none;
}

#u1097-17,#u1097-21
{
	font-size: 12px;
}

#u1098-14
{
	z-index: 127;
	width: 75px;
	min-height: 152px;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 21px;
}

#u1097-2,#u1098,#u1098-4,#u1098-7,#u1098-11
{
	font-size: 13px;
}

#u798
{
	z-index: 141;
	width: 461px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, #D4E4E9),to(#83C1DB));
	background: -webkit-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -moz-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -ms-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: -o-linear-gradient(top,#D4E4E9 46%,#83C1DB );
	background: linear-gradient(to bottom,#D4E4E9 46%,#83C1DB );
	-pie-background: linear-gradient(top,#D4E4E9 46%,#83C1DB );
	border-style: none;
	border-color: transparent;
	padding-bottom: 69px;
	margin-right: -10000px;
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	overflow: auto;
}

#widgetu954
{
	z-index: 142;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 7px;
}

#widgetu972
{
	z-index: 143;
	width: 208px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#widgetu972.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 59px -10000px 0px 0px;
}

#u976-4
{
	z-index: 144;
	width: 196px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu972.non-empty-st #u976-4
{
	background-color: #FFFFFF;
}

#widgetu972:hover #u976-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu972.focus-st #u976-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu972.non-empty-st #u976-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu972:hover #u976-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu972.focus-st #u976-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu983
{
	z-index: 148;
	width: 208px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
}

#widgetu983.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 182px -10000px 0px 0px;
}

#u985-4
{
	z-index: 149;
	width: 196px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu983.non-empty-st #u985-4
{
	background-color: #FFFFFF;
}

#widgetu983:hover #u985-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu983.focus-st #u985-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu983.non-empty-st #u985-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu983:hover #u985-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu983.focus-st #u985-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u966-4
{
	z-index: 153;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 114px;
}

#widgetu954.frm-sub-st #u966-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u977-4
{
	z-index: 157;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 114px;
}

#widgetu954.frm-subm-err-st #u977-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 29px;
}

#widgetu954.frm-subm-err-st #u977-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u988-4
{
	z-index: 161;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 114px;
}

#widgetu954.frm-sub-st #u966-4,#widgetu954.frm-subm-ok-st #u988-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu954.frm-subm-ok-st #u988-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u965-17
{
	z-index: 165;
	min-height: 31px;
	width: 164px;
	background: url("../images/u965-17.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 281px;
}

#u965-17:hover
{
	background: url("../images/u965-17-r.png") no-repeat 0px 0px;
}

#u965-17:active
{
	background: url("../images/u965-17-m.png") no-repeat 0px 0px;
}

#widgetu954.frm-sub-st #u965-17
{
	background: url("../images/u965-17-fs.png") no-repeat 0px 0px;
}

#widgetu960
{
	z-index: 182;
	width: 200px;
	height: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u964-4
{
	z-index: 183;
	width: 188px;
	min-height: 196px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu960.non-empty-st #u964-4
{
	background-color: #FFFFFF;
}

#widgetu960:hover #u964-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 196px;
	width: 188px;
	margin: -1px -10000px -1px 0px;
}

#widgetu960.focus-st #u964-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 196px;
	width: 188px;
	margin: -1px -10000px -1px 0px;
}

#widgetu960.fld-err-st #u964-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 196px;
	width: 188px;
	margin: -1px -10000px -1px 0px;
}

#widgetu960.non-empty-st #u964-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu960:hover #u964-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu960.focus-st #u964-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu960_input,#widgetu960_prompt
{
	width: 188px;
	min-height: 196px;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	padding: 6px;
}

#widgetu967
{
	z-index: 187;
	width: 208px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
}

#widgetu967.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 121px -10000px 0px 0px;
}

#u970-4
{
	z-index: 188;
	width: 196px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu967.non-empty-st #u970-4
{
	background-color: #FFFFFF;
}

#widgetu967:hover #u970-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu967.focus-st #u970-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu967.non-empty-st #u970-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu967:hover #u970-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu967.focus-st #u970-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu955
{
	z-index: 192;
	width: 208px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu960.fld-err-st,#widgetu955.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u957-4
{
	z-index: 193;
	width: 196px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu955.non-empty-st #u957-4
{
	background-color: #FFFFFF;
}

#widgetu955:hover #u957-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu955.focus-st #u957-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu972.fld-err-st #u976-4,#widgetu983.fld-err-st #u985-4,#widgetu967.fld-err-st #u970-4,#widgetu955.fld-err-st #u957-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 196px;
	margin: -1px -10000px -1px 0px;
}

#widgetu955.non-empty-st #u957-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu955:hover #u957-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu955.focus-st #u957-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu972.fld-err-st #u976-4 *,#widgetu983.fld-err-st #u985-4 *,#widgetu960.fld-err-st #u964-4 *,#widgetu967.fld-err-st #u970-4 *,#widgetu955.fld-err-st #u957-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu972_input,#widgetu972_prompt,#widgetu983_input,#widgetu983_prompt,#widgetu967_input,#widgetu967_prompt,#widgetu955_input,#widgetu955_prompt
{
	width: 196px;
	min-height: 14px;
	color: #AFA7A7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	padding: 6px;
}

#widgetu972:hover #widgetu972_input,#widgetu972.focus-st #widgetu972_input,#widgetu972.fld-err-st #widgetu972_input,#widgetu972:hover #widgetu972_prompt,#widgetu972.focus-st #widgetu972_prompt,#widgetu972.fld-err-st #widgetu972_prompt,#widgetu983:hover #widgetu983_input,#widgetu983.focus-st #widgetu983_input,#widgetu983.fld-err-st #widgetu983_input,#widgetu983:hover #widgetu983_prompt,#widgetu983.focus-st #widgetu983_prompt,#widgetu983.fld-err-st #widgetu983_prompt,#widgetu960:hover #widgetu960_input,#widgetu960.focus-st #widgetu960_input,#widgetu960.fld-err-st #widgetu960_input,#widgetu960:hover #widgetu960_prompt,#widgetu960.focus-st #widgetu960_prompt,#widgetu960.fld-err-st #widgetu960_prompt,#widgetu967:hover #widgetu967_input,#widgetu967.focus-st #widgetu967_input,#widgetu967.fld-err-st #widgetu967_input,#widgetu967:hover #widgetu967_prompt,#widgetu967.focus-st #widgetu967_prompt,#widgetu967.fld-err-st #widgetu967_prompt,#widgetu955:hover #widgetu955_input,#widgetu955.focus-st #widgetu955_input,#widgetu955.fld-err-st #widgetu955_input,#widgetu955:hover #widgetu955_prompt,#widgetu955.focus-st #widgetu955_prompt,#widgetu955.fld-err-st #widgetu955_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu972.non-empty-st #widgetu972_prompt,#widgetu983.non-empty-st #widgetu983_prompt,#widgetu960.non-empty-st #widgetu960_prompt,#widgetu967.non-empty-st #widgetu967_prompt,#widgetu955.non-empty-st #widgetu955_prompt
{
	visibility: hidden;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1100-3
{
	z-index: 199;
	width: 8px;
	min-height: 1px;
	left: -200px;
	margin-top: 622px;
	position: relative;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

#left_part_form {
	float: left;
	width: 45%;
	height: 100%;
	overflow: auto;
}

#right_part_form {
	margin-left: 20px;
	float: left;
	width: 45%;
	height: 100%;
	overflow: auto;
}

.field {
	width: 100%;
	margin: 10px;
}

.action {
	float: left;

}