#u990
{
	border-style: none;
	border-color: transparent;
	background-color: #7392B3;
	position: relative;
}

#u564-4
{
	color: #FFFFFF;
	font-size: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u565-3
{
	position: relative;
}

